@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
/*Fuente de Happy Monkey*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
/*fuente de Roboto 400*/

body{
    margin: 0px;
}
.general{
    width: 100vw;
}

nav{
    background-color: #f4f8c5;
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav img{
    width: 3.8em;
    height: 3.8em;
}
.nav-sub span p{
    font-family: Happy Monkey, Arial;
    font-size: 1.3em;
}
.nav-sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 14em;
}

.cuerpo{
    width: 100vw;
}

.mensaje{
    width: 100%;
    height: 18em;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.men-sub{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.493);
}
.mensaje img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.men-frase p{
    font-family: Roboto, Arial;
    font-style: italic;
    color: white;
    font-size: 1.5em;
}
.men-autor p{
    color: white;
    font-family: Roboto, Candara;
    font-size: 1em;
}
.men-frase{
    margin-bottom: 0px;
}
.men-autor{
    margin-top: 0px;
}

.intro{
    width: 100%;
    height: 14em;
    background-color: #dcecfa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.intro span{
    width: 70%;
}
.intro span p{
    color: black;
    text-align: center;
    font-family: Roboto, Arial;
    font-size: 1.4em;
}

.cont-cards{
    width: 100%;
    height: 45em;
    background-color: #f7afab;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sub-cards{
    width: 70%;
    height: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.group-1, .group-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: 100%;
}
.card-1, .card-2, .card-3, .card-4, .card-5, .card-6{
    width: 100%;
    height: 9em;
}

.card-1{
    background-image: url(../img/manzanas.jpg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card-2{
    background-image: url(../img/bananas.jpg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card-3{
    background-image: url(../img/moras.jpg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card-4{
    background-image: url(../img/naranjas.jpg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card-5{
    background-image: url(../img/limones.jpg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card-6{
    background-image: url(../img/uvas.jpg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.tab-1{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 96, 96, 0.596);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    right: 100%;
    color: white;
    font-family: Roboto, Arial;
    text-align: center;
}
.card-1:hover .tab-1{
    right: 0em;
    transition: 1s;
}

.tab-2{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(253, 255, 112, 0.473);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    right: 100%;
    color: rgb(0, 0, 0);
    font-family: Roboto, Arial;
    text-align: center;
}
.card-2:hover .tab-2{
    right: 0em;
    transition: 1s;
}

.tab-3{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(114, 98, 255, 0.541);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    right: 100%;
    color: white;
    font-family: Roboto, Arial;
    text-align: center;
}
.card-3:hover .tab-3{
    right: 0em;
    transition: 1s;
}

.tab-4{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 200, 82, 0.521);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 100%;
    color: white;
    font-family: Roboto, Arial;
    text-align: center;
}
.card-4:hover .tab-4{
    left: 0em;
    transition: 1s;
}

.tab-5{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 255, 108, 0.418);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 100%;
    color: white;
    font-family: Roboto, Arial;
    text-align: center;
}
.card-5:hover .tab-5{
    left: 0em;
    transition: 1s;
}

.tab-6{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(194, 105, 253, 0.473);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 100%;
    color: white;
    font-family: Roboto, Arial;
    text-align: center;
}
.card-6:hover .tab-6{
    left: 0em;
    transition: 1s;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7em;
    color: wheat;
    text-align: center;
    font-family: Arial;
    font-size: 1.5em;
    background-color: #aaad82;
}

@media screen and (max-width: 550px){
    .mensaje{
        height: 25em;
    }
    .intro{
        height: 22em;
    }
    .cont-cards{
        height: 60em;
    }
    .sub-cards{
        flex-direction: column;
        justify-content: space-around;
    }
    .group-1, .group-2{
        width: 85%;
    }
}